<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>کامنت های تایید شده</h2>

</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>نام ارسال کننده</th>
                <th>مطلب</th>
                <th>متن نظر</th>
                <th>تنظیمات</th>
            </tr>
        </thead>
        <tbody>
            <% comments.docs.forEach(comment=> { %>
                <tr>
                    <td>
                        <%= comment.name %>
                    </td>
                    <td>
                        <% if(comment.news) { %>
                            <a href="<%= comment.news.path() %>">
                                <%= comment.news.title %>
                            </a>
                            <% } %>
                    </td>
                    <td>
                        <%= comment.comment %>
                    </td>
                    <td>
                        <form action="/admin/comments/<%= comment.id %>?_method=DELETE" method="post">

                            <div class="btn-group btn-group-sm">
                                <a href="/admin/comments/<%= comment.id %>/edit" class="btn btn-primary">ویرایش</a>
                                <a class="<%= comment.approved?" btn btn-secondary" :"btn btn-success" %>"
                                    href="/admin/comments/<%= comment.id %>/toggleApproved" >
                                        <%=comment.approved?'توقف انتشار':'تایید' %>
                                </a>
                                <button type="submit" class="btn btn-danger">حذف</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <%- include(viewPath('layouts/pagination') ,{ pagination : comments}) %>
</div>