<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="نمایشport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- defineContent('title') || 'پنل مدیریت' %>
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="/css/vazir.css">
  <link rel="stylesheet" href="/css/admin.css">
  <%- style %>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">کلمات</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="جستجو" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">خروج</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <main role="main" class="col-md-9 mr-sm-auto col-lg-10 pt-3 px-4">
        <%- body %>
      </main>



      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span class="fas fa-home"></span>
                داشبورد
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/posts">
                <span class="far fa-newspaper"></span>
                پست ها
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                <span class="fas fa-users"></span>
                کاربران
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">
                <i class="fa fa-th-large"></i></span>
                دسته بندی ها
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/comments">
                <span class="far fa-comment"></span>
                نظرات
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/profile">
                <span class="far fa-user"></span>
                پروفایل
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>گزارشات ذخیره شده</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                این ماه
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                ماه گذشته
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                شبکه های اجتماعی
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                فروش سالانه
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/js/holder.min.js"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet" />
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>

  <script>
    feather.replace()
  </script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <% let sweetAlert=req.flash('alert') %>
    <% if (sweetAlert.length){ %>
      <% let data=sweetAlert[0] %>
        <script>
          Swal.fire({
            title: '<%=data.title%>',
            text: '<%=data.message%>',
            icon: '<%=data.type%>',
            showConfirmButton:<%=data.button !== null ? true : false %>,
            confirmButtonText: '<%=data.button%>'
          })
        </script>
        <% } %>

          <%- script %>
</body>

</html>