<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
        <h2>ویرایش دسته</h2>
    </div>
    <form class="form-horizontal" action="/admin/categories/<%= category.id %>?_method=put" method="post">
    
        <%- include(viewPath('layouts/error-messages')) -%>
    
        <div class="form-group row">
            <div class="col">
                <label for="name" class="control-label font-weight-bold">عنوان دسته</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="عنوان را وارد کنید" value="<%= old('name' , category.name ) %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="parent" class="control-label font-weight-bold font-weight-bold">دسته مربوطه</label>
                <select name="parent" id="parent" class="form-control">
                    <option value="none">دسته اصلی</option>
                    <% categories.forEach(cate => { %> 
                        <option value="<%= cate.id %>" <%= String(old('categories' , category.parent)) == String(cate.id) ? 'selected' : '' %> ><%= cate.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-info">ویرایش</button>
            </div>
        </div>
    </form>
    