<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%- defineContent('title') || 'کلمات' %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" href="/css/vazir.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://unpkg.com/polipop/dist/css/polipop.core.min.css" />
  <link rel="stylesheet" href="/css/polipop.compact.css">
  <%- style %>
    <style>
      .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
      }

      .form-control:focus {
        box-shadow: none;
      }

      .form-control-underlined {
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 0;
        padding-left: 0;
      }


      /*  */
      a {
        color: #448bff;
        text-decoration: none;
        background-color: transparent
      }

      a:hover {
        color: #005ef7;
        text-decoration: underline
      }

      a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none
      }

      a:not([href]):not([tabindex]):focus,
      a:not([href]):not([tabindex]):hover {
        color: inherit;
        text-decoration: none
      }

      a:not([href]):not([tabindex]):focus {
        outline: 0
      }

      @media (min-width:576px) {
        .col-sm {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%
        }

        .col-sm-auto {
          flex: 0 0 auto;
          width: auto;
          max-width: 100%
        }

        .col-sm-1 {
          flex: 0 0 8.3333333333%;
          max-width: 8.3333333333%
        }

        .col-sm-2 {
          flex: 0 0 16.6666666667%;
          max-width: 16.6666666667%
        }

        .col-sm-3 {
          flex: 0 0 25%;
          max-width: 25%
        }

        .col-sm-4 {
          flex: 0 0 33.3333333333%;
          max-width: 33.3333333333%
        }

        .col-sm-5 {
          flex: 0 0 41.6666666667%;
          max-width: 41.6666666667%
        }

        .col-sm-6 {
          flex: 0 0 50%;
          max-width: 50%
        }

        .col-sm-7 {
          flex: 0 0 58.3333333333%;
          max-width: 58.3333333333%
        }

        .col-sm-8 {
          flex: 0 0 66.6666666667%;
          max-width: 66.6666666667%
        }

        .col-sm-9 {
          flex: 0 0 75%;
          max-width: 75%
        }

        .col-sm-10 {
          flex: 0 0 83.3333333333%;
          max-width: 83.3333333333%
        }

        .col-sm-11 {
          flex: 0 0 91.6666666667%;
          max-width: 91.6666666667%
        }

        .col-sm-12 {
          flex: 0 0 100%;
          max-width: 100%
        }

        .order-sm-first {
          order: -1
        }

        .order-sm-last {
          order: 13
        }

        .order-sm-0 {
          order: 0
        }

        .order-sm-1 {
          order: 1
        }

        .order-sm-2 {
          order: 2
        }

        .order-sm-3 {
          order: 3
        }

        .order-sm-4 {
          order: 4
        }

        .order-sm-5 {
          order: 5
        }

        .order-sm-6 {
          order: 6
        }

        .order-sm-7 {
          order: 7
        }

        .order-sm-8 {
          order: 8
        }

        .order-sm-9 {
          order: 9
        }

        .order-sm-10 {
          order: 10
        }

        .order-sm-11 {
          order: 11
        }

        .order-sm-12 {
          order: 12
        }

        .offset-sm-0 {
          margin-left: 0
        }

        .offset-sm-1 {
          margin-left: 8.3333333333%
        }

        .offset-sm-2 {
          margin-left: 16.6666666667%
        }

        .offset-sm-3 {
          margin-left: 25%
        }

        .offset-sm-4 {
          margin-left: 33.3333333333%
        }

        .offset-sm-5 {
          margin-left: 41.6666666667%
        }

        .offset-sm-6 {
          margin-left: 50%
        }

        .offset-sm-7 {
          margin-left: 58.3333333333%
        }

        .offset-sm-8 {
          margin-left: 66.6666666667%
        }

        .offset-sm-9 {
          margin-left: 75%
        }

        .offset-sm-10 {
          margin-left: 83.3333333333%
        }

        .offset-sm-11 {
          margin-left: 91.6666666667%
        }
      }

      .text-muted {
        color: #99a0ac !important
      }

      .block,
      .card {
        background: #fff;
        border-width: 0;
        border-radius: .25rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
        margin-bottom: 1.5rem
      }

      .avatar {
        position: relative;
        line-height: 1;
        border-radius: 500px;
        white-space: nowrap;
        font-weight: 700;
        border-radius: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        border-radius: 500px;
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
      }

      .avatar img {
        border-radius: inherit;
        width: 100%
      }

      .gd-primary {
        color: #fff;
        border: none;
        background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
      }

      .gd-success {
        color: #fff;
        border: none;
        background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
      }

      .gd-info {
        color: #fff;
        border: none;
        background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
      }

      .gd-warning {
        color: #fff;
        border: none;
        background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
      }

      @media (min-width:992px) {
        .page-container {
          max-width: 1140px;
          margin: 0 auto
        }

        .page-sidenav {
          display: block !important
        }
      }

      .list {
        padding-left: 0;
        padding-right: 0
      }

      .list-item {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word
      }

      .list-row .list-item {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        padding: .75rem .625rem
      }

      .list-row .list-item>* {
        padding-left: .625rem;
        padding-right: .625rem
      }

      .no-wrap {
        white-space: nowrap
      }

      .text-color {
        color: #5e676f
      }

      .text-gd {
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-fill-color: transparent
      }

      .text-sm {
        font-size: .825rem
      }

      .h-1x {
        height: 1.25rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical
      }

      .w-48 {
        width: 48px !important;
        height: 48px !important
      }

      a:link {
        text-decoration: none
      }
    </style>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">کلمات</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">صفحه اصلی</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">نوشته ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users" data-toggle="modal" data-target="#sarchBarUser"><i
                class="fas fa-search"></i> جستوجوی کاربران </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
        <ul class="nav navbar-nav navbar-right">


          <% if (req.user) { %>

            <div class="container-fluid">
              <ul class="navbar-nav">
                <!-- Avatar -->
                <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <span class="d-flex container badge bg-primary">
                      <%= myUser.name %>
                    </span>
                    <img src="<%=getUserAvatar(myUser.profile.avatar)%>" class="rounded-circle" height="22" alt=""
                      loading="lazy" />
                  </a>
                  <ul style="text-align: right;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%if (req.user.isAdmin){%>
                      <li><a class="dropdown-item" href="/admin">پنل ادمین</a></li>
                      <%} %>
                        <li><a style="text-align: right;" class="dropdown-item" href="/panel/addpost">افزودن پست</a>
                        </li>
                        <li><a class="dropdown-item" href="/panel">حساب کاربری</a></li>
                        <li><a class="dropdown-item" href="/logout">خروج</a></li>
                  </ul>
                </li>
              </ul>
            </div>

            <% } else { %>
              <li><a class="btn btn-success btn-sm ml-2" href="/auth/login">ورود</a></li>
              <li><a class="btn btn-primary btn-sm" href="/auth/register">عضویت</a></li>
              <%} %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Modal -->
  <div class="modal fade" id="sarchBarUser" tabindex="-1" role="dialog" aria-labelledby="sarchBarUserTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">جستوجوی کاربران</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" id="searchUsers" placeholder="نام کاربری" aria-describedby="button-addon1"
                class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button id="button-addon1" type="button" class="btn btn-link text-primary"><i
                    class="fa fa-search"></i></button>
              </div>
            </div>
          </div>



          <div class="col-sm-6">
            <div class="list list-row block" id="resultSearch">




            </div>

          </div>




        </div>

      </div>
    </div>
  </div>
  <div class="container mt-4">
    <%- body %>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/scripts/searchUsers.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/js/polipop.js"></script>
  <%-script%>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      const socket = io();
    </script>

    <script>

      var pp = new Polipop('mypolipop', {
        layout: 'popups',
        position: 'bottom-right',
        theme: 'default',
        closeText: 'بستن',
        icons: true,
        insert: 'before',
        pool: 0,
        sticky: false,
        pauseOnHover: true,
        life: 5000,
        progressbar: true,
        effect: 'slide',
        easing: 'ease-in-out',
      });

    </script>

</body>

</html>