<header class="jumbotron hero-spacer">
  <h1>دوره‌های آموزشی</h1>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
    روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
    ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
    تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد
    کرد.</p>
</header>

<% let { search , type , order , category }=req.query; %>


  <form action="/courses" method="GET">

    <% if(search) { %>
      <div class="form-group col-md-3">
        <input type="hidden" name="search" value="<%= search %>">
        <span>عبارت جستجو شده : <%= search %> <a
              href="/courses?<%= type ? 'type=' + type : '' %><%= order ? '&order=1' : '' %>"
              class="btn btn-sm btn-dark">حذف</a></span>
      </div>
      <% } %>


        <div class="form-group col-md-3">
          <select name="type" class="form-control">
            <option value="all">همه دوره ها</option>
            <option value="vip" <%=type==='vip' ? 'selected' : '' %> >اعضای ویژه</option>
            <option value="cash" <%=type==='cash' ? 'selected' : '' %> >نقدی</option>
            <option value="free" <%=type==='free' ? 'selected' : '' %> >رایگان</option>
          </select>
        </div>

        <!--   <div class="form-group col-md-3">
          <select name="category" class="form-control">
            <option value="all">همه دسته ها</option>
           categories.forEach(cate=> { %>
              <option value=" cate.slug %>"cate.slug===category ? 'selected' : '' %> > cate.name %>
              </option>
               }) %>
          </select>
        </div> -->


        <div class="form-group col-md-3">
          <label class="checkbox-inline">
            <input type="checkbox" name="order" value="1" class="ml-2" <%=order==='1' ? 'checked' : '' %>>از اول به آخر
          </label>
        </div>

        <div class="form-group col-md-3">
          <button class="btn btn-danger" type="submit">فیلتر</button>
        </div>
  </form>

  <hr>

  <% if(newses.docs.length) { %>
    <div class="row">
      <% newses.docs.forEach(item=> { %>
        <div class="col-6 col-md-3">
          <div class="card">
            <img class="card-img-top" src="<%= item.images %>" alt="<%= item.title %>">
            <div class="card-body">
              <h3><a href="<%= item.path() %>">
                  <%= item.title %>
                </a></h3>
              <p class="card-text">
                <%= item.miniBody %>
              </p>
              <a href="<%= item.path() %>" class="btn btn-primary btn-sm">اطلاعات بیشتر</a>
            </div>
            <div class="card-footer text-muted">
              <%= item.viewCount %> بازدید
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <% } else { %>
      <div class="row">
        <p>دوره ای یافت نشد</p>
      </div>
      <%} %>


        <%- include(viewPath('layouts/pagination') ,{ pagination : newses}) %>