<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<header>

    <!-- Intro -->
    <div class="card card-intro blue-gradient mb-3">

        <div class="card-body white-text rgba-black-light text-center pt-5 pb-4">

            <!--Grid row-->
            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-md-6">
                    <h6 class="font-weight mb-2">
                        <%= post.title %>
                    </h6>
                    <div class="read-more">


                        <!--like  -->
                        <a id="<%=isAuth ? 'toggleLike':''%>" style="text-decoration:
                                none;">
                            <i class="<%= isLiked?" fas fa-heart":"far fa-heart"%> fa-3x " id="islike"
                                style="color:red"></i>
                        </a>

                        <span id="likeLength" class="text-muted">
                            <%= post.likeLngth.length %>
                        </span>
                        <!--like  -->


                        <!-- bookmark -->

                        <a id="<%=isAuth ? 'toggleBookmark' : '' %>" style="text-decoration: none;">
                            <i class="<%= isBookmark?'fa':'far' %> fa-bookmark fa-3x" id="isBookmark" style="color:
                                rgb(77, 75,
                                75);"></i>
                        </a>

                        <span id="bookmarkLength" class="text-muted">
                            <%= post.savelngth.length %>
                        </span>
                        <!-- bookmark -->

                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>

    </div>
    <!-- Intro -->

</header>

<main>
    <div class="container">
        <!--Section: Post-->
        <section class="mt-3">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!-- Breadcrumbs -->

                    <!-- <ol class="breadcrumb white z-depth-1">
                        <li class="breadcrumb-item">
                            <a href="#">Home Page</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Marketing Automation Category</a>
                        </li>
                        <li class="breadcrumb-item active">Very long title of the post</li>
                    </ol> -->

                    <!-- Breadcrumbs -->

                    <!-- Featured image -->

                    <img src="<%=post.images%>" width="700px" alt="" class="img-fluid z-depth-1-half mb-4">

                    <!--Card-->
                    <div class="card mb-4">

                        <!--Card content-->
                        <div class="card-body">

                            <span> توسط <a href="/@<%=post.author.username%>">
                                    <%= post.author.name %>
                                </a></span>
                            -
                            <span>ارسال شده در <%= date(post.createdAt).format('jD jMMMM jYYYY') %></span>

                            <hr>

                            <%- post.body %>

                        </div>

                    </div>
                    <!--/.Card-->

                    <!--Card-->
                    <div class="card card-avatar mb-4 wow fadeIn">

                        <!-- Card header -->
                        <div class="card-header font-weight-bold">
                            <i class="fas fa-info-circle"></i>

                            <span>درباره نویسنده</span>
                            <span class="pull-right">
                            </span>
                        </div>

                        <!--Card content-->
                        <div class="card-body">

                            <div class="media">
                                <img class="d-flex mr-3 z-depth-1 rounded-circle px-2 mx-auto"
                                    src="<%=  post.author.profile.images %> " width="60px"
                                    alt="Generic placeholder image">
                                <div class="media-body padding-5">
                                    <h5 class="mt-0 font-weight-bold"><a href="/@<%=post.author.username%>"
                                            class="text-muted">
                                            <%= post.author.name %>
                                        </a></h5>
                                    <%= post.author.profile.bio %>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--/.Card-->


                    <!--Comments-->
                    <%- include(viewPath('layouts/comments') , { subject : post , comments ,recaptcha}) %>

                        <!--/.Comments-->

                        <!--Reply-->

                        <!--/.Reply-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!-- Sticky content -->
                    <div class="sticky">
                        <!--Section: Dynamic Content Wrapper-->
                        <section>
                            <div id="dynamic-content"></div>

                        </section>
                        <!--Section: Dynamic Content Wrapper-->

                        <!--Card-->
                        <div class="card mb-4">

                            <div class="card-header">مقالات مرتبط</div>

                            <!--Card content-->
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <% const list=[] %>
                                        <%post.categories?.forEach(cate=>{%>
                                            <%cate.posts.forEach(pos=>{%>
                                                <% if(pos.id==post.id)return %>
                                                    <% if(list.includes(post.id))return %>

                                                        <% list.push(post.id) %>
                                                            <li class="media">
                                                                <img class="d-flex mr-3" src="<%= pos.images %> "
                                                                    width="90px" alt="Generic placeholder image">
                                                                <div class="media-body">
                                                                    <a href="/<%= pos.path() %>">
                                                                        <h5 class="mt-0 mb-1 font-weight-bold">
                                                                            <%= pos.title %>
                                                                        </h5>
                                                                    </a>
                                                                    <%= pos.miniBody %>
                                                                </div>
                                                            </li>
                                                            <%})%>
                                                                <%})%>

                                </ul>

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!-- Sticky content -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Post-->

    </div>
</main>


<%- include(viewPath('layouts/toggleSaveAndLike') ) %>






    <script src="https://unpkg.com/sweetalert2@7.12.10/dist/sweetalert2.all.js"></script>