<link rel="stylesheet" href="/css/userprofile.css">
<script src="/js/userprofile.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container bootstrap snippets bootdey">
    <div class="row profile">
        <div class="col-md-15 mb-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="<%= user_Target.profile.images %> " alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>
                                <%= user_Target.username %>@
                            </h4>
                            <p class="text-secondary mb-1">
                                <%= user_Target.name %>
                            </p>
                            <p class="text-muted font-size-sm">
                                <%= user_Target.profile.bio %>
                            </p>
                            <div class="row mt-5">
                                <div class="col border-right border-left text-center">
                                    <h2 class="font-light">
                                        <%= post.totalDocs %>
                                    </h2>
                                    <span class="text-uppercase">پست </span>
                                </div>
                                <div class="col border-left text-center">
                                    <h2 class="font-light" id='followers'>
                                        <%= user_Target.followers.length %>
                                    </h2>
                                    <span class="text-uppercase">دنبال کننده</span>
                                </div>
                                <div class="col text-center border-left ">
                                    <h2 class="font-light">
                                        <%= user_Target.following.length %>
                                    </h2>
                                    <span class="text-uppercase">دنبال میکند </span>
                                </div>
                            </div>
                            <br>

                            <% if (req.user){ %>
                                <% if (req.user.id!==user_Target.id){ %>
                                    <button class="btn btn-primary" id="<%= isFollow ? 'unfollow':'follow'%>">
                                        <%=isFollow?"لغو دنبال کردن":"دنبال کردن" %>
                                    </button>


                                    <button class="btn btn-outline-primary">ارسال پیغام</button>
                                    <%}else {%>
                                        <a href="/panel" class="btn btn-primary">ویرایش</a>
                                        <!-- <button class="btn btn-outline-primary"></button> -->
                                        <%} %>
                                            <%}%>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3 container">
                <ul class="list-group list-group-flush col-md-15  mb-6">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <a href="<%= user_Target.profile.website||" #" %>" style="text-decoration: none;">

                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-globe mr-2 icon-inline">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path
                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                    </path>
                                </svg> وب سایت</h6>

                        </a>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <a href="<%= user_Target.profile.github||" #" %>" style="text-decoration: none;">

                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-github mr-2 icon-inline">
                                    <path
                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                </svg> گیت هاب</h6>


                        </a>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                        <a href="<%= user_Target.profile.twitter||" #" %>" style="text-decoration: none;">

                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-twitter mr-2 icon-inline text-info">
                                    <path
                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                </svg> توییتر</h6>
                        </a>



                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">

                        <a href="<%= user_Target.profile.instagram||" #" %>" style="text-decoration: none;">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-instagram mr-2 icon-inline text-danger">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg> اینستاگرام</h6>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-3" id="profileCol">

        </div>
        <div class="profile-content">

            <div class="row ">
                <%- include(viewPath('layouts/posts') , { post}) %>

            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert2@7.12.10/dist/sweetalert2.all.js"></script>

<script>



    $(document).on('click', "#follow", function () {
        $.post(`/follow/<%=user_Target.id%>`, function (data) {
            console.log(data.totalFollowers);
            if (data.sucess) {
                $('#followers').text(data.totalFollowers)


                Swal.fire({
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1500
                })
                $("#follow").attr('id', 'unfollow').text('لغو دنبال کردن')
                //    ('#followers').html(data.totalFollowers)

            }
            else {

                Swal.fire({

                    icon: 'error',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })

    }).on('click', "#unfollow", function () {

        $.post(`/unfollow/<%=user_Target.id%>`, function (data) {
            console.log(data.totalFollowers);
            if (data.sucess) {
                $('#followers').text(data.totalFollowers)

                Swal.fire({
                    icon: 'success',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1500
                })
                $("#unfollow").attr('id', 'follow').text('دنبال کردن')
                //    ('#followers').html(data.totalFollowers)

            }
            else {
                Swal.fire({

                    icon: 'error',
                    title: data.message,
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })

    });


</script>