<script src="https://use.fontawesome.com/61081366e6.js"></script>
<script src="https://kit.fontawesome.com/211d2c33c8.js" crossorigin="anonymous"></script>


<body>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <form action="/panel" method="post" enctype="multipart/form-data">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-3 text-primary">اطلاعات پروفایل</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="username">نام کاربری</label>
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text ">@</div>
                                    </div>
                                    <input onkeyup="changer('username','user-username')"
                                        onkeydown="changer('username','user-username')" type="text" class="form-control"
                                        name="username" value="<%= myUser.username %>" id="username"
                                        placeholder="نام کاربری">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">ایمیل</label>
                                <input type="email" class="form-control" id="eMail" name="email"
                                    onkeyup="changer('eMail','user-email')" onkeydown="changer('eMail','user-email')"
                                    placeholder="ایمیل خود را وارد کنید" value="<%= myUser.email %> ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">نام کامل</label>
                                <input type="text" class="form-control" id="fullName" name='name'
                                    onkeyup="changer('fullName','user-name')"
                                    onkeydown="changer('fullName','user-name')" placeholder="نام کامل خود را وارد کنید"
                                    value="<%= myUser.name %>">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">رمز عبور</label>
                                <input type="password" disabled class="form-control" value="<%= myUser.email %> ">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">شماره همراه</label>
                                <input type="text" class="form-control" id="phone" name="phone"
                                    placeholder="شماره همراه خود را وارد کنید" value="<%= myUser.phone%>">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">آدرس وبسایت شما</label>
                                <input type="url" class="form-control" id="website" name="website"
                                    onkeyup="changer('website','user-website')"
                                    onkeydown="changer('website','user-website')" placeholder="ادرس وبسایت را وارد کنید"
                                    value="<%= myUser.profile?.website %>">
                            </div>
                        </div>
                        <div class="user-profile">

                            <div class="user-avatar">
                                <img src="<%= getUserAvatar(myUser.profile?.avatar) %> " class="profileImage"
                                    alt="عکس پروفایل">
                            </div>
                            <%- include(viewPath('layouts/image')) -%>
                        </div>
                    </div>
                    <div class="row gutters">

                        <div class="col">
                            <label for="body" class="control-label font-weight-bold">متن</label>
                            <textarea rows="8" class="form-control" name="bio" id="body"
                                onkeyup="changer('body','user-bio')" onkeydown="changer('body','user-bio')"
                                placeholder="بیو خود را وارد کنید"><%=myUser.profile?.bio%></textarea>
                        </div>

                    </div>
                    <div class="row gutters pt-3">
                        <div class="col-xl-13 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class=" text-right">

                                <button type="button" id="submit" class="btn btn-secondary">نمایش
                                    پروفایل</button>
                                <button type="submit" id="submit" class="btn btn-primary">بروز
                                    رسانی</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</body>