<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%- defineContent('title') || 'ویرگول' %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" href="/css/vazir.css">
  <link rel="stylesheet" href="/css/home.css">
  <%- style %>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">ویرگول</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/panel">داشبورد</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/posts"><span class="far fa-post"></span>پست ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/panel/comments"><span class="far fa-comment"></span> کامنت ها</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="container-fluid">
            <ul class="navbar-nav">
              <!-- Avatar -->
              <li class="nav-item dropdown">
                <% const img='https://www.bootdey.com/img/Content/avatar/avatar1.png' %>
                  <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <span class="d-flex container badge bg-primary">
                      <%= req.user.name %>
                    </span>
                    <img src="<%=user?.profile.images||img%>" class="rounded-circle" height="22" alt=""
                      loading="lazy" />
                  </a>
                  <ul style="text-align: right;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <%if (req.user.isAdmin){%>
                      <li><a class="dropdown-item" href="/admin">پنل ادمین</a></li>
                      <%} %>
                        <li><a style="text-align: right;" class="dropdown-item" href="/panel/addpost">افزودن پست</a>
                        </li>
                        <li><a class="dropdown-item" href="/panel">حساب کاربری</a></li>
                        <li><a class="dropdown-item" href="/logout">خروج</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%- body %>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <%-script%>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"></script>
</body>

</html>