<style type="text/css">
    body {
        margin-top: 20px;
        color: #bcd0f7;
        background: #1A233A;
    }



    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .account-settings .about {
        margin: 1rem 0 0 0;
        font-size: 0.8rem;
        text-align: center;
    }

    .card {
        background: #272E48;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }

    .form-control {
        border: 1px solid #596280;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #1A233A;
        color: #bcd0f7;
    }

    li.active {
        background-color: #f8ff868c !important;
        border-color: #fbffbc !important;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="/css/vazir.css">
    <link rel="stylesheet" href="/css/home.css">
    <%- style %>

</head>
<script src="https://use.fontawesome.com/61081366e6.js"></script>
<script src="https://kit.fontawesome.com/211d2c33c8.js" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
<%- style %>
    <%- include(viewPath('layouts/headr')) -%>

        <body>
            <div class="container">

                <div class="row gutters">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="account-settings">
                                    <div class="user-profile">

                                        <div class="user-avatar">
                                            <img src="<%= user.profile?.images %> " class="profileImage"
                                                alt="عکس پروفایل">
                                        </div>


                                        <div class="about">
                                            <h5 class="mb-2 text-primary">
                                                <a href="/@<%=user.username %>" id="user-username">
                                                    <%= user.username||"چیزی ثبت نشده است" %>
                                                </a>
                                            </h5>
                                            <p id="user-bio">
                                                <%= user.profile?.bio || "محل درباره من" %>
                                            </p>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col border-right border-left text-center">
                                                <h2 class="font-light">
                                                    <%= user.posts.length%>
                                                </h2>
                                                <span class="text-uppercase">پست </span>
                                            </div>
                                            <div class="col border-left text-center">
                                                <h2 class="font-light" id='followers'>
                                                    <%= user.followers.length %>
                                                </h2>
                                                <span class="text-uppercase">دنبال کننده</span>
                                            </div>
                                            <div class="col text-center border-left ">
                                                <h2 class="font-light">
                                                    <%= user.following.length %>
                                                </h2>
                                                <span class="text-uppercase">دنبال میکنید </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mt-3">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item <%= req.path=='/'?" active":"" %> d-flex
                                                justify-content-between align-items-center flex-wrap">
                                                <a href="/panel" style="text-decoration: none;" class="mb-0 "><i
                                                        class="far fa-address-card" style="color: tan"></i>
                                                    اطلاعات کاربری
                                                </a>
                                                <span class="text-secondary" id="user-website">
                                                    <%= user.profile?.website %>
                                                </span>
                                            </li>
                                            <li class="list-group-item <%= req.path=='/bookmarks'?" active":"" %> d-flex
                                                justify-content-between align-items-center flex-wrap">
                                                <a href="/panel/bookmarks" style="text-decoration: none;" class="mb-0">
                                                    <i class="fas fa-bookmark " style="color:tan"></i>
                                                    پست های ذخیره شده
                                                </a>
                                                <span class="text-secondary">
                                                    <%= user.profile?.Github %>
                                                </span>
                                            </li>
                                            <li class="list-group-item <%= req.path=='/likes'?" active":"" %> d-flex
                                                justify-content-between align-items-center flex-wrap">
                                                <a href="/panel/likes" style="text-decoration: none;" class="mb-0">
                                                    <i class="fas fa-heart" style="color: tan;"></i>
                                                    پسندیده ها
                                                </a>
                                                <span class="text-secondary">
                                                    <%= user.profile?.Github %>
                                                </span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <a href="#" style="text-decoration: none;" class="mb-0">

                                                    <i class="fas fa-envelope-open-text" style="color: tan;"></i>
                                                    پیغام ها
                                                </a>
                                                <span class="text-secondary">
                                                    <%= user.profile?.twitter %>
                                                </span>
                                            </li>
                                            <li class="list-group-item <%= req.path=='/settings'?" active":"" %> d-flex
                                                justify-content-between align-items-center flex-wrap">
                                                <a class="mb-0" style="text-decoration: none;" href="/panel/settings">
                                                    <i class="fas fa-cog " style="color: tan;"></i>
                                                    تنظیمات حساب کاربری
                                                </a>
                                                <span class="text-secondary">
                                                    <%= user.profile?.instagram %>
                                                </span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%- body %>

                </div>
            </div>

            <script type="text/javascript">
                function changer(id_, idTarget) {
                    const id = id_;
                    const doc = document.getElementById(id)
                    document.getElementById(idTarget).innerHTML = doc.value

                }

            </script>
            <%- script %>
        </body>

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modal-loading.js"></script>
        <link rel="stylesheet" href="/css/modal-loading.css">
        <link rel="stylesheet" href="/css/modal-loading-animate.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

        <script>
            const socket = io();
        </script>

        </html>