<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>خبر ها</h2>
    <div class="btn-group">
        <a href="/admin/news/create" class="btn btn-sm btn-primary">ایجاد خبر جدید</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>عنوان خبر</th>
                <th>تعداد نظرات</th>
                <th>مقدار بازدید</th>
                <th>وضعیت خبر</th>
                <th>تنظیمات</th>
            </tr>
        </thead>
        <tbody>
            <% news.docs.forEach(item=> { %>
                <tr>
                    <td><a href="/news/<%item.path()%>">
                            <%= item.title %>
                        </a></td>
                    <td>
                        <%= item.commentCount %>
                    </td>
                    <td>
                        <%= item.viewCount %>
                    </td>
                    <td style="<%= item.published?" color: rgb(30, 126, 52,1);" :"color: rgb(255, 0, 0);"%>">
                        <%= item.published?'منتشر شده':'منتشر نشده' %>
                    </td>

                    <td>
                        <form action="/admin/news/<%= item._id %>?_method=DELETE" method="post">
                            <div class="btn-group btn-group-sm">
                                <a href="/admin/news/<%= item.id %>/edit" class="btn btn-primary">ویرایش</a>
                                <a class="<%= item.published?" btn btn-secondary" :"btn btn-success" %>"
                                    href="/admin/news/<%= item.id %>/togglePublished" >
                                        <%=item.published?'توقف انتشار':'انتشار' %>
                                </a>
                                <button type="submit" class="btn btn-danger">حذف</button>
                            </div>
                        </form>
                    </td>

                </tr>
                <% }) %>
        </tbody>
    </table>

    <%- include(viewPath('layouts/pagination') ,{ pagination : news}) %>
</div>